/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
	border: 1px
}



#dos {

	width: 1170px;
	height: 1250px;
	background-color: rgb(255, 174, 127);
}

#apartado>div {

	width: 800px;
	height: 250px;
	background-color: #e5e5e5;


}

#apartado>div a {
	width: 200px;
	height: 190px;
	float: left;
	background-color: aquamarine;
	margin-left: 20px;
	margin-top: 20px;


}

#apartado #letra #iconos{
	height: 30px;
	width: 580px;
	background-color: #e5e5e5;
	position: absolute;

	left: 0;
	right: 0;
	bottom: 0;
	

	
	
}


.tupu{
	height: 30px;
	width: 140px;
	background-color: #e5e5e5;
	position: absolute;
	border-right: 1px dashed gray;
	
			
}

.tupu p{
	top:8px;
position: absolute;
right: 30px;

}

#iconos .tupu .icono1{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #e5e5e5;
	background-image: url(../img/glyphicons-halflings.png);
	bottom: 0%;
	background-position-x: 280px;
	background-position-y: 41px;
	margin-bottom: 5px;
  
  
  

}



#apartado #letra{

	width: 580px;
	height: 210px;
	background-color: #e5e5e5;
	float: right;
	position: relative;
}

#boton1 .botonread1 {

	width: 100px;
	height: 30px;
	background-color: black;
	border-radius: 10px;
	text-decoration: none;
}


div.texto1 {
	width: 580px;
	height: 60px;
	background-color: #e5e5e5;
	float: right;
}

#boton1 a {

	color: white;
	justify-content: center;
	display: flex;
	align-items: center;

}









div.texto1 p {
	margin-top: 10px;
	margin-left: 20px;
}

div .rectangulo1 {
	height: 40px;
	width: 580px;
	margin-top: 20px;
	background-color: white;
	float: right;
	display: flex;
	align-items: center;
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
}

div .rectangulo1 p {

	text-align: left;
	margin-left: 20px;

}



#imagen {
	width: 570px;
	height: 770px;
	background-color: aquamarine;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

div {
	border: 1px
}

div#contenedor {
	width: 1170px;
	margin: 0px auto;
	background-color: antiquewhite;
}

div#encabezado {
	height: 55px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: aquamarine;
}

div.logo {
	background-color: blue blue;
	width: 470px;
	height: 55px;
	float: left;
}

div.menu {
	width: 650px;
	height: 50px;
	float: right;
	background-color: white;
	z-index: 20;

}


.container {
	display: flex;
	align-items: center;
	width: 250px;
	height: 55px;
}

.image-container {
	width: 50px;
	height: 55px;
}

.text-container {
	padding-left: 20px;
}



.menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul {
	align-items: center;
}

.menu li {
	position: relative;
}

.menu a {
	color: gray;
	text-decoration: none;
	padding: 10px 20px;
}

.menu a:hover {
	background-color: #d8450b;
	color: #e5e5e5;
}

.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background-color: #383838;
	padding: 10px;
	display: none;
	border-bottom: 2px solid #e5e5e5;
	z-index: 20;
}

.menu li:hover .submenu {

	display: block;
}

a li:hover .submenu {
	color: #383838;
	display: block;
}

.submenu li {
	margin-bottom: 10px;
}

.submenu a {
	color: #e5e5e5;
	text-decoration: none;
}




#pie {
	width: 1170px;
	margin: 0px auto;
	height: 400px;
	background-color: rgb(5, 5, 5);
	bottom: -113%;
	position: absolute;
}




.piee>div {
	list-style: none;
	position: relative;
	float: left;
	border: 1px solid rgb(17, 114, 54);
	width: 240px;
	height: 220px;
	margin: 22px;
	right: -10px;
	margin-top: 10px;

}



#pie>div.pie5 {
	list-style: none;
	position: relative;
	float: left;
	border: 1px solid rgb(17, 114, 54);
	width: 1050px;
	height: 50px;
	margin: 8px;
	right: -27px;
	margin-top: 50px;

}

div.pie6 {
	list-style: none;
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	margin: 8px;
	right: -27px;
	margin-top: 50px;

}

.flecha {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/back-top-btn.png);
	bottom: 0%;


}


.redes {
	list-style: none;
	position: relative;
	float: left;
	border: 1px solid rgb(17, 114, 54);
	width: 240px;
	height: 50px;
	margin: -11px;
	right: -10px;
	margin-top: 90px;

}

.logopeque {
	width: 116px;
	height: 40px;
	margin-top: 50px;
	background-image: url(../img/20.webp);
	background-size: cover;

}


.f {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	background-position-x: 0px;
	background-position-y: 0px;
}

.f:hover {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	background-position-x: 0px;
	background-position-y: -47px;
}

.p {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	right: 61%;
	background-position-x: -51px;
	background-position-y: 0px;
}

.p:hover {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	background-position-x: -51px;
	background-position-y: -47px;
}

.g {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	right: 41%;
	background-position-x: -104px;
	background-position-y: 0px;
}

.g:hover {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	background-position-x: -104px;
	background-position-y: -47px;
}

.w {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	right: 22%;
	background-position-x: -155px;
	background-position-y: 0px;
}

.w:hover {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	background-position-x: -155px;
	background-position-y: -47px;
}

.s {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	right: 2%;
	background-position-x: -207px;
	background-position-y: 0px;
}

.s:hover {
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: rgb(5, 5, 5);
	background-image: url(../img/social-icons.png);
	bottom: 0%;
	background-position-x: -207px;
	background-position-y: -47px;
}


.ho {
	position: absolute;
	width: 47px;
	height: 47px;
	color: white;
	right: 30%;
	margin-top: 20px;

}

.ho:hover {
	color: orange;
}


.fe {
	position: absolute;
	width: 47px;
	height: 47px;
	color: white;
	right: 24%;
	margin-top: 20px;

}

.fe:hover {
	color: orange;
}


.ga {
	position: absolute;
	width: 47px;
	height: 47px;
	color: white;
	right: 17%;
	margin-top: 20px;

}

.ga:hover {
	color: orange;
}

.bl {
	position: absolute;
	width: 47px;
	height: 47px;
	color: white;
	right: 10%;
	margin-top: 20px;

}

.bl:hover {
	color: orange;
}


.co {
	position: absolute;
	width: 47px;
	height: 47px;
	color: white;
	right: 5%;
	margin-top: 20px;

}

.co:hover {
	color: orange;
}